body{
    background-image: url("https://http2.mlstatic.com/papel-adesivo-de-parede-pet-shop-patinhas-coloridas-3m-D_NQ_NP_787556-MLB25791033673_072017-F.jpg");
    background-attachment: fixed;
    background-position: 5% 5%;
    font-size: 20px;
    font-weight: 50;
    
}

